.success,
.error {
	border-radius: 4px;
	bottom: 1rem;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}

.error p {
	color: var(--white);
	font-weight: bold;
	padding: 0 1rem;
}

.error {
	background-color: var(--watermelon);
}
